# Ignore Python bytecode and cache files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
env/

# Ignore IDE/editor-specific files
.idea/
.vscode/
*.swp
*.swo

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore database files
*.sqlite3
*.db